/*Variables for Colors */

:root {
  --clr-orange: #ff7d1a;
  --clr-pale-orange: 	#ffede0;
  --clr-dark-text: 	#1d2025;
  --clr-light-text: #68707d;
  --clr-lightest-text: 	#b6bcc8;
  --clr-quantity-bg: 	#f7f8fd;
  --clr-white: #ffffff;
  --clr-lightbox-bg: rgba(0, 0, 0, .75);
  --clr-overlay: rgba(255, 255, 255, .75);
}

/*Base Stylings*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1rem;
  background-color: var(--clr-white);
  color: var(--clr-dark-text);
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0 0 4rem 0;
}


/* Mobile Styling - Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  position: relative;
  z-index: 2;
}

 header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
}

.header-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Styles */

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vw;
  z-index: 1;
  transition-property: width;
  transition-duration: 0.4s;
}

.toggler {
  position: absolute;
  top: 1.6rem;
  left: 1.125rem;
  z-index: 6;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 1.9rem;
  left: 1.5rem;
  z-index: 5;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--clr-light-text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 5;
  top: -6px;
  width: 100%;
  height: 3px;
  background: var(--clr-light-text);
}

.hamburger > div:after {
  top: 6px;
}

.toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 200vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--clr-lightbox-bg);
  transition-property: width;
  transition-duration: 0.4s;
}

.toggler:checked ~ .menu {
  width: 100%;
}

nav {
  background: var(--clr-white);
  height: 100%;
  width: 70%;
  padding-top: 10rem;
}

nav ul {
  list-style: none;
  color: var(--clr-dark-text);
  padding: 0 1.5rem;
}

nav ul li {
  padding: 0;
  margin: 1.125rem 0;
}

nav ul a {
  text-decoration: none;
  color: var(--clr-dark-text);
  font-weight: 700;
}


/*End of Menu Styles*/

.logo {
  padding-left: 2.5rem;
}


.cart-side {
  width: 20%;
  max-width: 6rem;
  z-index: 1;
}

.cart-side .active-menu {
  z-index: 0;
}

.cart-div {
  position: relative;
  padding: .4rem .4rem 0 0;
}

.cart-icon {
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/icon-cart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.cart-count {
  position: absolute;
  z-index: 1;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: .6rem;
  height: .75rem;
  width: 1.1rem;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
}

.profile-pic {
  width: 1.6rem;
  border-radius: 50%;
  border: 2px solid var(--clr-white);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  background-color: var(--clr-white);
  top: 110%;
  width: 94%;
  max-width: 25rem;
  left: 3%;
  border-radius: .5rem;
  padding: 1.5rem 0;
  box-shadow: 0rem 1rem 2rem var(--clr-lightest-text);
}

.cart-header {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
}

.divider {
  background-color: var(--clr-lightest-text);
  width: 100%;
  height: 1px;
  margin: 1rem 0 1.5rem 0;
}

.cart-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cart-thumbnail {
  width: 3.5rem;
  border-radius: 10%;
}

.cart-contents-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cart-contents-description p {
  margin: 0;
  font-size: 1rem;
}

.cart-total {
  color: var(--clr-dark-text);
  font-weight: 700;
  padding-left: .5rem;
}

.checkout-button{
  margin-top: 1.5rem;
  height: 4rem;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-orange);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: .5rem;
}

.cart-empty {
  padding: 2.5rem 0;
}

.delete:hover {
  cursor: pointer;
}

/*Mobile Styling - Photo Carousel */

.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile-photo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.carousel-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-button {
  background-color: var(--clr-white);
  padding: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.previous {
  background-image: url("../images/icon-previous.svg");
}

.next {
  background-image: url("../images/icon-next.svg");
}



/*Classes for JavaScript - Carousel */

.image-1 {
  background-image: url("../images/image-product-1.jpg");
}

.image-2 {
  background-image: url("../images/image-product-2.jpg");
}

.image-3 {
  background-image: url("../images/image-product-3.jpg");
}

.image-4 {
  background-image: url("../images/image-product-4.jpg");
}

/*Mobile Styling - Text Section */

.details-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-section .container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0;
}

h1 {
  color: var(--clr-orange);
  font-size: .9rem;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  width: 80%;
  font-size: 1.8rem;
  padding: .5rem 0 .25rem 0;
}

p {
  color: var(--clr-light-text);
  line-height: 1.75rem;
  font-size: .98rem;
}

.pricing-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actual-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  max-width: 10rem;
}

h3 {
  font-size: 2rem;
}

.discount {
  background-color: var(--clr-pale-orange);
  padding: .3rem .5rem;
  border-radius: 15%;
  font-weight: 700;
  color: var(--clr-orange);
  font-size: 1.125rem;
}

.original-price {
  color: var(--clr-lightest-text);
  font-size: 1.125rem;
  text-decoration: line-through;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.quantity-label,
.submit {
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
}

.quantity-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-quantity-bg);
  margin-bottom: 1.5rem;
}

#quantity {
  background-color: var(--clr-quantity-bg);
  text-align: center;
  border: none;
  height: 4rem;
  font-weight: 700;
  font-size: 1.125rem;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.submit {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border: none;
}

.submit-cart-icon {
  padding-right: 1rem;
}

/* Active States */

.cart-icon:hover{
  cursor: pointer;
  background-image: url("../images/icon-cart-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.cart-count:hover {
  cursor: pointer;
}

.profile-pic:hover {
  border: 2px solid var(--clr-orange);
  cursor: pointer;
}

.submit:hover,
.quantity-button:hover,
.checkout-button:hover {
  cursor: pointer;
  opacity: .5;
}

.cart-div:active,
.delete:active,
.quantity-button:active,
.carousel-button:active{
  transform: scale(.75);
}




/*================================================

    TABLET STYLING

===================================================*/

@media (min-width: 700px) {

    .toggler,
    .hamburger {
      left: 5rem;
    }

    nav ul {
      padding: 0 5rem;
    }

    header .container,
    .details-section .container {
      width: 80%;
    }

    .cart {
      left: auto;
      right: 3%;
    }

    .photo-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mobile-photo-section {
      display: none;
    }

    .desktop-photos-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 80%;
    }

    .main-image {
      width: 100%;
      aspect-ratio: 1;
      border-radius: .5rem;
      margin-bottom: 1rem;
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .main-image:hover {
      cursor: pointer;
    }

    .thumbnail-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }


    .thumbnail-image {
      width: 20%;
      aspect-ratio: 1;
      border-radius: .5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid var(--clr-white);
    }

    .thumbnail-image:hover {
      background-size: contain cover;
      background-position: center center;
      background-repeat: no-repeat no-repeat;
      border: 3px solid var(--clr-orange);
      cursor: pointer;
    }

    .thumbnail-1 {
      background-image: url("../images/image-product-1-thumbnail.jpg");
    }

    .thumbnail-1:hover {
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-1-thumbnail.jpg");
    }

   .active-1 {
      border: 3px solid var(--clr-orange);
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-1-thumbnail.jpg");
      background-size: contain cover;
      background-position: center center;
      background-repeat: no-repeat no-repeat;
    }

    .thumbnail-2 {
      background-image: url("../images/image-product-2-thumbnail.jpg");
    }

    .thumbnail-2:hover {
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-2-thumbnail.jpg");
    }

    .active-2 {
      border: 3px solid var(--clr-orange);
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-2-thumbnail.jpg");
      background-size: contain cover;
      background-position: center center;
      background-repeat: no-repeat no-repeat;
    }

    .thumbnail-3 {
      background-image: url("../images/image-product-3-thumbnail.jpg");
    }

    .thumbnail-3:hover {
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-3-thumbnail.jpg");
    }

    .active-3 {
      border: 3px solid var(--clr-orange);
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-3-thumbnail.jpg");
      background-size: contain cover;
      background-position: center center;
      background-repeat: no-repeat no-repeat;
    }

    .thumbnail-4 {
      background-image: url("../images/image-product-4-thumbnail.jpg");
    }

    .thumbnail-4:hover {
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-4-thumbnail.jpg");
    }

    .active-4 {
      border: 3px solid var(--clr-orange);
      background-image:  linear-gradient(var(--clr-overlay), var(--clr-overlay)), url("../images/image-product-4-thumbnail.jpg");
      background-size: contain cover;
      background-position: center center;
      background-repeat: no-repeat no-repeat;
    }
}

/*===================================================

  DESKTOP STYLING

=====================================================*/

@media (min-width: 1000px) {

  /* HEADER STYLINGS - DESKTOP*/

  header .container {
    border-bottom: 1px solid var(--clr-lightest-text);
    padding-bottom: 2rem;
  }

  .menu-wrap {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }

  .toggler,
  .hamburger {
    display: none;
  }

  .menu,
  nav {
    background: none;
  }

  .menu {
    position: relative;
    overflow: visible;
    width: 100%;
    z-index: 0;
    height: auto;
  }

  nav {
    padding-top: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  nav ul li {
    margin: 0 0 0 1.5rem;
    color: var(--clr-light-text);
  }

  nav ul li a {
    color: inherit;
    font-weight: 400;
    font-size: .9rem;
    padding-bottom: 2.8rem;
  }

  nav ul li a:hover {
    color: var(--clr-dark-text);
    border-bottom: 3px solid var(--clr-orange);
  }

  .logo {
    order: -1;
    padding: 0;
    width: 25%;
  }

  /*Cart Section Styling - Desktop */

  .cart-side {
    width: 12%;
    max-width: none;
  }

  .cart-icon {
    width: 1.5rem;
  }

  .cart-count {
    font-size: .75rem;
    height: .8rem;
    width: 1.25rem;
    border-radius: 1rem;
  }

  .profile-pic {
    width: 2.75rem;
  }

  .cart {
    right: 3%;
    top: 6rem;
    left: auto;
  }

  .cart-contents-description {
    width: 100%;
    align-items: center;
  }

  .empty-cart-message {
    width: 100%;
  }


  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }


  .details-section .container {
    width: 90%;
  }

  .photo-section {
    width: 100%;
  }


/* Details Section Styling - Desktop */

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
    width: 87%;
  }

  .pricing-section {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }

  .actual-price {
    padding-bottom: .5rem;
  }

  h3 {
    margin: 0;
    font-size: 1.75rem;
  }

  .discount {
    font-size: 1rem;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .quantity-label {
    margin-bottom: 0;
    width: 37%;
  }

  #quantity {
    width: 2rem;
  }

  .submit {
    width: 60%;
  }

  .lightbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-lightbox-bg);
    left: 0;
    top: 0;
    z-index: 7;
  }



  .lightbox-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
  }

  .lightbox_header {
    display: flex;
    justify-content: flex-end;
    width: 95%;
  }

  .lightbox-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
  }

  .lightbox_active-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
  }

  .lightbox_active-image {
    width: 95%;
    border-radius: 1rem;
    background-image: url("../images/image-product-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 0;
  }

  .lightbox_forward-back-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 8;
  }

  .lightbox_thumbnail-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .thumbnail-div {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .overlay-div {
    background-color: var(--clr-overlay);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 2px solid var(--clr-orange);
  }

  button[name="forward"],
  button[name="back"] {
    background-size: .5rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  button[name="forward"] {
    background-image: url("../images/icon-next.svg");
  }

  button[name="back"] {
    background-image: url("../images/icon-previous.svg");
  }

  /*Lightbox Active States and JavaScript Classes*/

  .lightbox_header img:hover,
  button[name="forward"]:hover,
  button[name="back"]:hover,
  .thumbnail-div:hover {
    cursor: pointer;
  }


}

.hide {
  display: none;
}
